<footer class="footer is-primary">
<div class="container">
<div class="content has-text-centered">

<div class="box ">
  <a href="/">Back to home Page</a>
  <img class="is-pulled-left" src="#">
</div>

</div>
</div>
</footer>
