<nav class="navbar hero-header is-primary is-fixed-top has-shadow">

    <div class="navbar-brand">
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-size-4" href="/">
              <i class="fas fa-home"></i>&nbsp;Home
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">

      <a class="navbar-item is-size-4" href="/stories">
       <i class="fas fa-book"></i>&nbsp; Stories
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
         <a class="navbar-link is-size-4" href="#">
           <i class="fas fa-align-right"></i>&nbsp;Users
         </a>

      <div class="navbar-dropdown is-right is-boxed">
         <a class="navbar-item is-size-5 has-text-grey-light" href="/signup">
          <i class="far fa-address-card"></i>&nbsp; Sign Up
         </a>

         <a class="navbar-item is-size-5 has-text-grey-light" href="/users">
          <i class="far fa-user"></i>&nbsp; Profiles
         </a>
      </div>
      </div>
    </div>

</nav>
