{{> header}}
<!-- <div class="box is-6 is-offset-3 wrapper tile is-ancestor">
  <div class="tile">
    <div class="box tile is-parent">

      {{#each users}}
        <div class="tile box is-child is-4">
          <a href="/user/{{id}}">
            <img class="image is-128x128 is-pulled-right" src="{{avatar}}">
          </a>
            <p class="has-text-grey-dark has-text-centered">{{name}}</p>
        </div>
      {{/each}}

    </div>
  </div>
</div> -->
