<!-- <div class="column is-3 is-2-widescreen">
  <div class="menu">
    <p class="menu-label">
      Filter by genre
    </p>
    <ul class="menu-list">
      <li>
        <a class="is-active" data-action="filter" data-group href="/stories">All</a>
      </li>
      <li>
        <a data.action="filter" data-group="school" href="/stories/school">School stories</a>
      </li>
    </ul>
  </div>
</div> -->
