{{> header}}
<div class="columns is-two-thirds">

  <div class="box top-box column is-10 is-offset-1">
    <h1 class="column is-10 is-size-1 has-text-grey">{{title}}</h1>
    <br>
    <div class="box column is-10">
      <figure class="image column is-10" style="width:40%;height:40%;">
        <img src="{{image}}">
      </figure>
    </div>

    <a class="button is-primary is-rounded is-outlined is-large" href="/story/{{id}}/page-one">
      <i class="fas fa-play"></i>&nbsp;Click here to start
    </a>
  </div>
</div>
